body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.80);
}

.utama {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.kotak1 {
    width: 100%;
    height: calc(100% - 10vh);
    position: absolute;
    top: 10vh;
    left: 0;
    background: #CECECE;
    border-radius: 5%;
}

.kotak2 {
    width: 100%;
    height: 7vh;
    position: absolute;
    top: 2vh;
    left: 0;
    background: #D9D9D9;
    border-radius: 20px;
}

.logo {
    width: 12.8vw;
    height: 50px;
    position: absolute;
    top: 2vh;
    left: calc(50% - 6.4vw);
    border-radius: 50px;
}

.menu {
    width: 3vw;
    height: 7vh;
    position: absolute;
    top: 2.5vh;
    left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .ikon {
    width: 80%;
    height: 30%;
    background: #1D1B20;
}

.cari {
    width: 3vw;
    height: 7vh;
    position: absolute;
    top: 2.5vh;
    right: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cari .ikon {
    width: 80%;
    height: 80%;
    background: #1D1B20;
}

.gambar-utama {
    width: 90vw;
    height: auto;
    position: absolute;
    top: 10vh;
    left: 5vw;
    border-radius: 50px;
}

.nano-diane {
    width: 30vw;
    position: absolute;
    top: 50vh;
    left: calc(50% - 15vw);
    color: white;
    font-size: 3vw;
    font-family: Mada;
    font-weight: 500;
    text-align: center;
}

.wanita {
    width: 12vw;
    position: absolute;
    top: 45vh;
    left: calc(50% - 6vw);
    color: white;
    font-size: 1.5vw;
    font-family: Libre Franklin;
    font-weight: 500;
    text-align: center;
}

.jelajahi-digital {
    width: 40vw;
    position: absolute;
    top: 60vh;
    left: calc(50% - 20vw);
    color: white;
    font-size: 1.5vw;
    font-family: Libre Franklin;
    font-weight: 500;
    text-align: center;
}

.garis {
    width: 30vw;
    height: 0;
    position: absolute;
    top: 65vh;
    left: calc(50% - 15vw);
    border: 1px white solid;
}

.avatar {
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    top: 2.5vh;
    right: 2vw;
    background: #EADDFF;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar .placeholder-avatar {
    width: 70%;
    height: auto;
    background: #21005D;
}
